{% extends 'base.html.twig' %}

{% block title %}
    PROARTI EXAM
{% endblock %}

{%  block body %}
<h1>Select  your CSV file to load in database</h1>
    <form method="POST" id="formo" name="formo" enctype="multipart/form-data" action="{{ path("csv") }}">
        <label>CSV file :</label>
        <input type="file" id="url" name="url"/><br><br>
        <button type="submit" >Load your selected file to database</button>
    </form>
{% endblock %}